token=YOUR_BOT_TOKEN
clientId=YOUR_CLIENT_ID
guildId=YOUR_GUILD_ID
guildId2=YOUR_GUILD_ID2
ownerId=YOUR_OWNER_ID
logging_channel_id=YOUR_LOGGING_CHANNEL_ID
management_role_id=YOUR_MANAGEMENT_ROLE_ID
welcome_server_id=YOUR_WELCOME_SERVER_ID
welcome_channel_id=YOUR_WELCOME_CHANNEL_ID
VOICEVOX_URL=http://localhost:50021
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=YOUR_DB_PASSWORD
DB_DATABASE=SuperGxFbot
